<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixel Pets</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Pixel Pets</h1>
    <nav>
      {{#if logged_in}}
      <a href="/adopt">Adopt a Pet</a>
      <a href="/pets">Your Pets</a>
      <button id='logout'>Logout</button>
      {{/if}}
    </nav>
  </header>
  <main style="background-image: url(../../public/assets/images/background2.jpg);">
    {{{body}}}
  </main>
  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}
</body>

</html>