<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixel Pets</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <header>
    <h1>Pixel Pets</h1>
    <nav>

      {{#if logged_in}}
      <a href="/adopt">Adopt a Pet</a>
      <a href="/pets">Your Pets</a>
      <button id='logout'>Logout</button>
      {{/if}}
    </nav>
  </header>

  <main>

    {{{body}}}

  </main>
  {{#if logged_in}}
  <script src='/js/logout.js'></script>
  {{/if}}

</body>

</html>