{{#each animals}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="" alt="Placeholder image">
    </figure>
  </div>
  <h3 align="center">{{types}}</h3>
  <h3 align="center">{{prefered_food}}</h3>
  <h3 align="center">{{prefered_activity}}</h3>
</div>
{{#each}}