<div class="container p-4 mt-5">
  <div class="columns">
    <div class="column is-two-fifths">
        <p class="hero">Virtual Pet that Sleep, Eat and play</p>
    </div>
    <div class="column is-half">
      {{!-- login form --}}
      <form class="box login-form">
        <div class="field">
          <label class="label"
            style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Username</label>
          <div class="control">
            <input class="input card" type="text" id="username-login" />
          </div>
        </div>
        <div class="field">
          <label class="label"
            style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Password</label>
          <div class="control">
            <input class="input card" type="password" id="password-login" />
          </div>
        </div>
        <button class="button login-button" type="submit">login</button><br>
        <a class="sign-up-button"
          style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Sign Up Here!</a>
      </form>
      {{!-- Sign up form --}}
      <form class="box signup-form" style="display: none;">
        <div class="field">
          <label class="label"
            style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Email</label>
          <div class="control">
            <input class="input card" type="email" id="email-signup" required />
          </div>
        </div>
        <div class="field">
          <label class="label"
            style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Username</label>
          <div class="control">
            <input class="input card" type="text" id="username-signup" required />
          </div>
        </div>
        <div class="field">
          <label class="label"
            style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Password</label>
          <div class="control">
            <input class="input card" type="password" id="password-signup" required />
          </div>
        </div>
        <button class="btn login-button" type="submit">Signup</button>><br>
        <a class="logged-in-button"
          style="font-family: 'Cherry Bomb One', cursive; color: yellowgreen; font-size: 2em">Login to your account!</a>
      </form>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>