<div>
    <h2>{{name}}</h2>
</div>
<div class="container">
    <figure class="drop-zone">
        {{get_animal animal.types}}
    </figure>
</div>
<div class="container">
    <div class="pet-status">
        <div class="status-bar hunger">
            <div class="status-fill" id="hunger-fill"></div>
        </div>
        <div class="status-bar mood">
            <div class="status-fill" id="mood-fill"></div>
        </div>
        <div class="status-bar energy">
            <div class="status-fill" id="energy-fill"></div>
        </div>
    </div>
</div>
<div>
    <button class="draggable-button" type="button">Feed</button>
    <button type="button">Play</button>
    <button type="button">Sleep</button>
</div>

<script src="/js/feed.js"></script>
<script src="/js/play.js"></script>
<script src="/js/statusbar.js"></script>