<h2>Pets</h2>

{{#each user}}
<form class="user-pet-form">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <a href="/pet/{{user.pet.id}}">{{{get_animal user.animal.types}}}</a>
            </figure>
        </div>
        <h3 align="center">{{user.pet.name}}</h3>
    </div>
</form>
{{#each}}