html {
  background-image: url(../assets/images/background2.jpg);
  background-size: cover;
}

.pet-status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.animal-button {
  border: none;
  background: none;
}

.status-bar {
  width: 100px;
  height: 20px;
  border: 1px solid #aaa;
  position: relative;
}

.status-fill {
  height: 100%;
  background-color: #3cb371;
  /* Green */
  width: 0;
  transition: width 0.3s;
}

.card-equal-height {
  min-height: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  /* Transparent white background */
  backdrop-filter: blur(8px);
  /* Apply blur effect */
}

.navbar {
background-color: transparent;

}
.navbar-item{
  font-size: 1.3em;
}
.navbar-item.no-hover:hover {
  background-color: transparent;
  color: inherit;
  font-size: 3em;
}
.activity-list{
  background-color: transparent;
  border: none;
}
.interaction-title {
  font-size: 3em;
  font-family: 'Cherry Bomb One', cursive;
  color: yellowgreen;
}
.pet-name {
  font-size: 3em;
  font-family: 'Cherry Bomb One', cursive;
  color: yellowgreen; 
  text-align: center;
}
/* .zoom {
  transition: transform .2s; 
 
  margin: 0 auto;
} */

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}